$background: #001233;
$color: #0466c8;
$tittleFont: "Fugaz One", cursive;
$textFont: "BenchNine", sans-001233erif;
$navText: rgb(111, 171, 240);
$textShadow: #002855;
$btnBackground: #001845;

* {
  margin: 0px;
  padding: 0px;
  font-family: $textFont;
  
}
#fp-nav ul li a span {
  background-color: $color !important;
}
.titleBr {
  display: none;
}
body {
  width: 100vw;
  background-attachment: fixed;
  background-color: $background;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236fabf0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  
}
body::-webkit-scrollbar {
  width: 0px;
}


section {
  width: 100%;
  overflow-x: hidden;
  color: $color;
}
#menu {
  width: 45px;
  height: 45px;
  background-color: $color;
  border-radius: 22.5px;
  position: fixed;
  display: none;
  top: 10px;
  left: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px $color;
  cursor: pointer;
  z-index: 101;
  flex-direction: column;
    .line {
      width: 25px;
      height: 5px;
      background-attachment: fixed;
      background-color: $background;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236fabf0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
      margin: 2px;
      border-radius: 2.5px;
      cursor: pointer;
    }
  
}
#menu:hover {
  box-shadow: 0px 0px 20px $color;
  filter: brightness(120%);
  cursor: pointer;
}
#checkBox{
  display: none;
}
#navResponsive{
  width: 100vw;
  height: 100vh;
  position:fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  background-color: $background;
  transition: 1s;
  li{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: $color;
    cursor: pointer;
    
    a{
        width: 100%;
        font-size: 40px;
        margin: 10px;
        text-decoration: none;
        color: inherit;
    }
    #cvResponsive{
      background-color: $color;
      color: $background;
      border-radius: 35px;
    }
    #cvResponsive:hover{
      background-color: $color;
      box-shadow: 0px 0px 30px $color;
      filter: brightness(130%);
    }
    
  }
  .liResponsive :hover{
    background-color: $color;
    color: $btnBackground;
    border-radius: 35px;
    background-color: $color;
    box-shadow: 0px 0px 30px $color;
    filter: brightness(130%);
  }
  .liResponsive:active{
    background-color: $color;
    color: $btnBackground;
    border-radius: 35px;
    background-color: $color;
    box-shadow: 0px 0px 30px $color;
    filter: brightness(130%);
  }
}
#buttons {
  background-attachment: fixed;
  background-color: $background;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236fabf0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 1;
  #idioms {
    left: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    .idiom {
      width: 50px;
      height: 30px;
      margin: 15px;
      font-size: 20px;
      background-color: $color;
      box-shadow: 0px 0px 10px $navText;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .flags {
        width: 100%;
        height: 40px;
      }
    }

    .idiom::after:hover {
      background-color: #0000;
    }
    .idiom:hover {
      box-shadow: 0px 0px 30px $color;
      filter: brightness(110%);
    }
  }

  #navBarTop {
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    width: 65%;
    left: 14%;
    display: none;
    #navBarTopList {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      list-style: none;
      width: 20%;
      .navBarItem {
        font-size: 30px;
        width: 100%;
        text-align: center;
      }
      a {
        color: $color;
        position: relative;
        padding: 2px 5px;
        margin: 0 30px;
        width: 100%;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
        display: inline-block;

        span {
          position: absolute;
          display: block;
        }
        span:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, transparent, $color);
        }
        span:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 3px;
          background: linear-gradient(270deg, transparent, $color);
        }
        span:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(0deg, transparent, $color);
        }
        span:nth-child(2) {
          top: -100%;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(180deg, transparent, $color);
        }
      }
      a:hover span:nth-child(1) {
        left: 100%;
        transition: 0.3s;
      }

      a:hover span:nth-child(3) {
        right: 100%;
        transition: 0.3s;
        transition-delay: 0.15s;
      }

      a:hover span:nth-child(2) {
        top: 100%;
        transition: 0.3s;
        transition-delay: 0.075s;
      }

      a:hover span:nth-child(4) {
        bottom: 100%;
        transition: 0.3s;
        transition-delay: 0.225s;
      }

      a:visited {
        color: $color;
      }
      a:hover {
        color: $background !important;
        background-color: $color;
        box-shadow: 0 0 10px $color, 0 0 40px $color, 0 0 80px $color;
        border-radius: 10 px;
        transition-delay: 0.25s;
        filter: brightness(120%);
      }
      a:active {
        color: $color;
      }
    }
  }

  .cv {
    position: fixed;
    right: 30px;

    #cv {
      border-radius: 50px;
      background: $color;
      box-shadow: 0px 0px 10px $color;

      margin: 15px;
      height: 35px;
      font-size: 25px;
      text-decoration: none;
      color: $background;

      padding: 0 15px;
    }
    #cv:hover {
      background-color: $color;
      box-shadow: 0px 0px 30px $color;
      filter: brightness(130%);
    }
  }
  
}
#intro {
  .fp-tableCell:nth-child(1) {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100%;
  }
  #dummy {
    display: flex;
    justify-content: center;
    align-items: center;

    #pictureDummy {
      position: absolute;
      width: 200px;
      height: 200px;
      background-color: $navText;
      border-radius: 100px;
      opacity: 0;
      display: flex;
      text-align: center;
      justify-content: center;
      overflow: hidden;
    }
  }
  #presentation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #description {
      position: absolute;
      left: -595px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-family: $tittleFont;
        font-size: 80px;
        text-shadow: 4px 2px 0px $navText;
        color: $color;
        filter: brightness(110%);
      }
      h2 {
        font-size: 50px;
        color: $navText;
      }
    }

    #picture {
      position: absolute;
      width: 215px;
      height: 215px;
      background-color: $navText;
      border-radius: 105.5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
  }
  #navBar {
    display: flex;
    justify-content: center;
    align-items: center;

    #navBarList {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      list-style: none;
      width: 70%;
      .navBarItem {
        font-size: 30px;
        text-align: center;
      }
      a {
        color: $color !important;
        position: relative;
        padding: 5px 25px;
        width: 100px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
        display: inline-block;

        span {
          position: absolute;
          display: block;
        }
        span:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 3px;
          background: linear-gradient(90deg, transparent, $color);
        }
        span:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 3px;
          background: linear-gradient(270deg, transparent, $color);
        }
        span:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(0deg, transparent, $color);
        }
        span:nth-child(2) {
          top: -100%;
          right: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient(180deg, transparent, $color);
        }
      }
      a:hover span:nth-child(1) {
        left: 100%;
        transition: 0.3s;
      }

      a:hover span:nth-child(3) {
        right: 100%;
        transition: 0.3s;
        transition-delay: 0.15s;
      }

      a:hover span:nth-child(2) {
        top: 100%;
        transition: 0.3s;
        transition-delay: 0.075s;
      }

      a:hover span:nth-child(4) {
        bottom: 100%;
        transition: 0.3s;
        transition-delay: 0.225s;
      }

      a:visited {
        color: $navText;
      }
      a:hover {
        color: $background !important;
        background-color: $color;
        box-shadow: 0 0 10px $color, 0 0 40px $color, 0 0 80px $color;
        border-radius: 10 px;
        transition-delay: 0.25s;
        filter: brightness(120%);
      }
      a:active {
        color: $color;
      }
    }
  }
}
#aboutSection {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  #aboutContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .sectionTitle {
      font-family: $tittleFont;
      font-size: 60px;
      text-shadow: 4px 2px 0px $navText;
      color: $color;
      filter: brightness(110%);
    }
    .aboutMe {
      width: 1200px;
      height: 550px;
      display: flex;
      align-items: center;
      flex-direction: row;
      .text{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
        text-align: justify;
        width: 100%;
        font-size: 30px;
        color: $navText;
        }
      }
      .ilustrationContainer{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
#projectsSection {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  #projectsContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .sectionTitle {
      font-family: $tittleFont;
      font-size: 60px;
      text-shadow: 4px 2px 0px $navText;
      color: $color;
      filter: brightness(110%);
      margin-bottom: 100px;
    }
    #cards {
      display: grid;
      grid-template-columns: repeat(4, 280px);
      grid-template-rows: 200px;
      gap: 30px;

      .card {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        border-radius: 20px;
        .face {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          backface-visibility: hidden;
          transition: 1s ease-in-out;
          border-radius: 20px;
        }
        .front {
          background-color: $background;
          img {
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            width: 100%;
            height: 165px;
          }
          h3 {
            height: 40px;
            font-size: 30px;
            color: $color;
            
          }
        }
        .back {
          background-color: white;
          color: $background;
          transform: perspective(500px) rotateY(180deg);
          padding: 15px;
          box-sizing: border-box;

          .projectDescription{
            font-size: 25px;
            text-align: center;
          }
          .tecnologies{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: row;
            li{
              margin:5px;
              box-shadow: 0 0 5px black;
              border-radius: 2px;
              background-color: white;
            }
            
          }
          .projectLinks{
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: row;
            a{
              font-size: 20px;
              color: $background;
              margin: 3px 5px;
              padding: 0 10px;
              text-decoration: none;
              background-color: $color;
              border-radius: 13px;
            }
            a:hover{
              box-shadow: 0px 0px 20px $color;
              filter: brightness(120%);
            }
          }
          
        }

      }
      .card:hover .face.front {
        transform: perspective(500px) rotateY(180deg);
      }
      .card:hover .face.back {
        transform: perspective(500px) rotateY(360deg);
      }
    }
  }
}
#skillsSection {
  #skillsContent {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .sectionTitle {
      font-family: $tittleFont;
      font-size: 80px;
      text-shadow: 4px 2px 0px $navText;
      color: $color;
      filter: brightness(110%);
      margin-bottom: 60px;
    }
    .skills {
      display: grid;
      grid-template-columns: 125px 125px 125px 150px ;
      grid-template-rows: 125px 125px;
      gap: 70px;
    }
    h3 {
      margin: 50px 0 30px;
      font-family: $tittleFont;
      font-size: 55px;
      text-shadow: 2px 2px 0px $navText;
      color: $color;
      filter: brightness(110%);
    }
    .interestedIn {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .interests {
        display: grid;
        grid-template-columns: repeat(3, 125px);
        grid-template-rows: 150px;
        .interest {
          margin: 0 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
#contactSection {
  width: 100%;
  height: auto;
  #contactContent {
    width: 50%;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #023d7d42;
    backdrop-filter: blur(1px);
    border-radius: 20px;
    .sectionTitle {
      font-family: $tittleFont;
      font-size: 60px;
      text-shadow: 4px 2px 0px $navText;
      color: $color;
      filter: brightness(110%);
    }
    .social{
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      .socialLink{
        text-align: center;
        width: 100px;
      }
     
    }
    #contactForm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      input,
      textarea,
      button {
        width: 80%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 25px;
      }
      textarea {
        max-width: 80%;
        min-width: 80%;
        max-height: 250px;
        min-height: 100px;
      }
      #submit {
        cursor: pointer;
        background-color: $color;
        color: $background;
        border: none;
      }
      #submit:hover {
        box-shadow: 0px 0px 30px $color;
        filter: brightness(130%);
      }
    }
  }
}
@media screen and (max-width: 1350px) {
  #aboutSection{
    #aboutContent{
      .aboutMe{
        width: 1000px;
        .text{
          width: 50%;
          padding-left: 15px;
        }
        .ilustrationContainer{
          width: 50%;
          .ilustration{

            padding-left: 20px;
            width: 500px;
            height: 450px;
          }
        }
      }
    }
  }
  #projectsSection {
    #projectsContent {
      .sectionTitle {
        margin-bottom: 20px;
      }
      #cards {
        grid-template-columns: repeat(2, 280px);
        grid-template-rows: repeat(2, 200px);
        gap: 50px 100px;
      }
    }
  }
}
@media screen and (max-width: 980px){
  #buttons{
    #navBarTop{
      #navBarTopList{
          a{
            font-size: 25px;
            width: 70% ;
          }
      }
    }
    
  }
}
@media screen and (max-width: 769px) {
  #menu {
    display: flex;
    
  }

  #buttons {
    display: none;
    
  }
  #intro {
    .fp-tableCell:nth-child(1) {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 100%;
    }
    #dummy {
      #pictureDummy {
        opacity: 1;
      }
    }
    #presentation {
      position: unset;
      #description {
        position: unset;
        left: unset;
        h1 {
          text-align: center;
          font-size: 80px;
        }
        h2 {
          font-size: 55px;
        }
      }
      #picture {
        display: none;
      }
    }
    #navBar{
      display: none;
    }
    
  }
  #aboutSection {
    #aboutContent {
      height: unset;
      .aboutMe {
        flex-direction: column;
        width: 100%;
        height: unset;
        height: unset;
        padding: 15px;
        box-sizing: border-box;
        .text{
          width: 100%;
          padding: 0 20px;
          box-sizing: border-box;
        }
        .ilustrationContainer{
          .ilustration{
            height: 400px;
          }
        }
      }
    }
  }
  #skillsSection {
    #skillsContent {
      
      .skills {
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
        gap: 40px;
      }
      .interestedIn{
        h3{
          margin: 5px 0;
        }
      }
    }
  }
  #projectsSection {
    #projectsContent {
      #cards {
        gap: 50px 50px;
      }
    }
  }
  #contactSection {
    #contactContent {
      width: 90%;
      margin: 80px auto 30px;
      
    }
  }
}
@media screen and (max-width: 480px) {
  .titleBr {
    display: unset;
  }
  #intro {
    #presentation {
      padding-bottom: 80px;
      #description {
        h1 {
          text-align: center;
          font-size: 70px;
        }
        h2 {
          font-size: 45px;
        }
      }
    }
  }
  #skillsSection {
    #skillsContent {
      .sectionTitle{
        padding-top: 80px;
        font-size: 60px;
      }
      .skills {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px 125px;
      }
      
      .interestedIn {
        h3{
          margin-top: 30px;
        }
        .interests {
          grid-template-columns: repeat(2, 125px);
          grid-template-rows: 125px 125px;

        }
      }
    }
  }
  #projectsSection {
    overflow: hidden;
    #projectsContent {
      height: unset;
      .sectionTitle{
        padding-top: 80px;
      }
      #cards {
        grid-template-columns: 280px;
        grid-template-rows: repeat(4, 200px);
      }
    }
  }
  
}
