* {
  margin: 0px;
  padding: 0px;
  font-family: "BenchNine", sans-001233erif;
}

#fp-nav ul li a span {
  background-color: #0466c8 !important;
}

.titleBr {
  display: none;
}

body {
  width: 100vw;
  background-attachment: fixed;
  background-color: #001233;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%236fabf0' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

body::-webkit-scrollbar {
  width: 0px;
}

section {
  width: 100%;
  overflow-x: hidden;
  color: #0466c8;
}

#buttons {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  z-index: 1;
}

#buttons #idioms {
  left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#buttons #idioms .idiom {
  width: 50px;
  height: 30px;
  margin: 15px;
  font-size: 20px;
  background-color: #0466c8;
  -webkit-box-shadow: 0px 0px 10px #6fabf0;
          box-shadow: 0px 0px 10px #6fabf0;
  color: #0466c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#buttons #idioms .idiom .flags {
  width: 100%;
  height: 40px;
}

#buttons #idioms .idiom::after:hover {
  background-color: #0000;
}

#buttons #idioms .idiom:hover {
  -webkit-box-shadow: 0px 0px 30px #0466c8;
          box-shadow: 0px 0px 30px #0466c8;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

#buttons #navBarTop {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 5px;
  width: 45%;
  left: 27%;
  display: none;
}

#buttons #navBarTop #navBarTopList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 20%;
}

#buttons #navBarTop #navBarTopList .navBarItem {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

#buttons #navBarTop #navBarTopList a {
  color: #0466c8 !important;
  position: relative;
  padding: 2px 5px;
  margin: 0 20px;
  width: 100%;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
}

#buttons #navBarTop #navBarTopList a span {
  position: absolute;
  display: block;
}

#buttons #navBarTop #navBarTopList a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#0466c8));
  background: linear-gradient(90deg, transparent, #0466c8);
}

#buttons #navBarTop #navBarTopList a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#0466c8));
  background: linear-gradient(270deg, transparent, #0466c8);
}

#buttons #navBarTop #navBarTopList a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#0466c8));
  background: linear-gradient(0deg, transparent, #0466c8);
}

#buttons #navBarTop #navBarTopList a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#0466c8));
  background: linear-gradient(180deg, transparent, #0466c8);
}

#buttons #navBarTop #navBarTopList a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#buttons #navBarTop #navBarTopList a:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#buttons #navBarTop #navBarTopList a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

#buttons #navBarTop #navBarTopList a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.225s;
          transition-delay: 0.225s;
}

#buttons #navBarTop #navBarTopList a:visited {
  color: #6fabf0;
}

#buttons #navBarTop #navBarTopList a:hover {
  color: #001233 !important;
  background-color: #0466c8;
  -webkit-box-shadow: 0 0 10px #0466c8, 0 0 40px #0466c8, 0 0 80px #0466c8;
          box-shadow: 0 0 10px #0466c8, 0 0 40px #0466c8, 0 0 80px #0466c8;
  border-radius: 10 px;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

#buttons #navBarTop #navBarTopList a:active {
  color: #0466c8;
}

#buttons .cv {
  position: fixed;
  right: 30px;
}

#buttons .cv #cv {
  border-radius: 50px;
  background: #0466c8;
  -webkit-box-shadow: 0px 0px 10px #0466c8;
          box-shadow: 0px 0px 10px #0466c8;
  margin: 15px;
  height: 35px;
  font-size: 25px;
  text-decoration: none;
  color: #001233;
  padding: 0 15px;
}

#buttons .cv #cv:hover {
  background-color: #0466c8;
  -webkit-box-shadow: 0px 0px 30px #0466c8;
          box-shadow: 0px 0px 30px #0466c8;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

#buttons #menu {
  width: 80px;
  height: 80px;
  background-color: #0466c8;
  border-radius: 40px;
  position: fixed;
  bottom: 60px;
  right: 120px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px #0466c8;
          box-shadow: 0px 0px 20px #0466c8;
  cursor: pointer;
}

#buttons #menu #navToggle {
  position: absolute;
  display: none;
}

#buttons #menu #navIcon {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#buttons #menu #navIcon .line {
  width: 40px;
  height: 7px;
  background-color: #001233;
  margin: 3px;
  border-radius: 3px;
}

#buttons #menu:hover {
  -webkit-box-shadow: 0px 0px 20px #0466c8;
          box-shadow: 0px 0px 20px #0466c8;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  cursor: pointer;
}

#intro .fp-tableCell:nth-child(1) {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

#intro #dummy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro #dummy #pictureDummy {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #6fabf0;
  border-radius: 100px;
  opacity: 0;
}

#intro #presentation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#intro #presentation #description {
  position: absolute;
  left: -595px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#intro #presentation #description h1 {
  font-family: "Fugaz One", cursive;
  font-size: 80px;
  text-shadow: 4px 2px 0px #6fabf0;
  color: #0466c8;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

#intro #presentation #description h2 {
  font-size: 50px;
  color: #6fabf0;
}

#intro #presentation #picture {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #6fabf0;
  border-radius: 100px;
}

#intro #navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro #navBar #navBarList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 70%;
}

#intro #navBar #navBarList .navBarItem {
  font-size: 40px;
  width: 100%;
  text-align: center;
}

#intro #navBar #navBarList a {
  color: #0466c8 !important;
  position: relative;
  padding: 5px 25px;
  width: 100px;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: inline-block;
}

#intro #navBar #navBarList a span {
  position: absolute;
  display: block;
}

#intro #navBar #navBarList a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#0466c8));
  background: linear-gradient(90deg, transparent, #0466c8);
}

#intro #navBar #navBarList a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#0466c8));
  background: linear-gradient(270deg, transparent, #0466c8);
}

#intro #navBar #navBarList a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#0466c8));
  background: linear-gradient(0deg, transparent, #0466c8);
}

#intro #navBar #navBarList a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#0466c8));
  background: linear-gradient(180deg, transparent, #0466c8);
}

#intro #navBar #navBarList a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#intro #navBar #navBarList a:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#intro #navBar #navBarList a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

#intro #navBar #navBarList a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.225s;
          transition-delay: 0.225s;
}

#intro #navBar #navBarList a:visited {
  color: #6fabf0;
}

#intro #navBar #navBarList a:hover {
  color: #001233 !important;
  background-color: #0466c8;
  -webkit-box-shadow: 0 0 10px #0466c8, 0 0 40px #0466c8, 0 0 80px #0466c8;
          box-shadow: 0 0 10px #0466c8, 0 0 40px #0466c8, 0 0 80px #0466c8;
  border-radius: 10 px;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

#intro #navBar #navBarList a:active {
  color: #0466c8;
}

#aboutSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutSection #aboutContent {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#aboutSection #aboutContent .sectionTitle {
  font-family: "Fugaz One", cursive;
  font-size: 60px;
  text-shadow: 4px 2px 0px #6fabf0;
  color: #0466c8;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

#aboutSection #aboutContent .aboutMe {
  width: 1200px;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#aboutSection #aboutContent .aboutMe .text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboutSection #aboutContent .aboutMe .text p {
  text-align: justify;
  width: 100%;
  font-size: 30px;
  color: #6fabf0;
}

#aboutSection #aboutContent .aboutMe .ilustrationContainer {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projectsSection {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projectsSection #projectsContent {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projectsSection #projectsContent .sectionTitle {
  font-family: "Fugaz One", cursive;
  font-size: 60px;
  text-shadow: 4px 2px 0px #6fabf0;
  color: #0466c8;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  margin-bottom: 100px;
}

#projectsSection #projectsContent #cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (280px)[4];
      grid-template-columns: repeat(4, 280px);
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
  gap: 30px;
}

#projectsSection #projectsContent #cards .card {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 20px;
}

#projectsSection #projectsContent #cards .card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-radius: 20px;
}

#projectsSection #projectsContent #cards .card .front {
  background-color: #001233;
}

#projectsSection #projectsContent #cards .card .front img {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 100%;
  height: 165px;
}

#projectsSection #projectsContent #cards .card .front h3 {
  height: 30px;
  font-size: 30px;
  color: #0466c8;
}

#projectsSection #projectsContent #cards .card .back {
  background-color: whitesmoke;
  color: #001233;
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

#projectsSection #projectsContent #cards .card:hover .face.front {
  -webkit-transform: perspective(500px) rotateY(180deg);
          transform: perspective(500px) rotateY(180deg);
}

#projectsSection #projectsContent #cards .card:hover .face.back {
  -webkit-transform: perspective(500px) rotateY(360deg);
          transform: perspective(500px) rotateY(360deg);
}

#skillsSection #skillsContent {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skillsSection #skillsContent .sectionTitle {
  font-family: "Fugaz One", cursive;
  font-size: 80px;
  text-shadow: 4px 2px 0px #6fabf0;
  color: #0466c8;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  margin-bottom: 60px;
}

#skillsSection #skillsContent .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 125px 125px 125px 150px 125px 125px;
      grid-template-columns: 125px 125px 125px 150px 125px 125px;
  -ms-grid-rows: 125px;
      grid-template-rows: 125px;
  gap: 20px;
}

#skillsSection #skillsContent h3 {
  margin: 50px 0 30px;
  font-family: "Fugaz One", cursive;
  font-size: 55px;
  text-shadow: 2px 2px 0px #6fabf0;
  color: #0466c8;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

#skillsSection #skillsContent .interestedIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#skillsSection #skillsContent .interestedIn .interests {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (125px)[3];
      grid-template-columns: repeat(3, 125px);
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
}

#skillsSection #skillsContent .interestedIn .interests .interest {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contactSection {
  width: 100%;
  height: auto;
}

#contactSection #contactContent {
  width: 50%;
  height: 600px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #023d7d42;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 20px;
}

#contactSection #contactContent .sectionTitle {
  font-family: "Fugaz One", cursive;
  font-size: 60px;
  text-shadow: 4px 2px 0px #6fabf0;
  color: #0466c8;
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  margin-bottom: 60px;
}

#contactSection #contactContent #contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

#contactSection #contactContent #contactForm input,
#contactSection #contactContent #contactForm textarea,
#contactSection #contactContent #contactForm button {
  width: 80%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 25px;
}

#contactSection #contactContent #contactForm textarea {
  max-width: 80%;
  min-width: 80%;
  max-height: 250px;
  min-height: 100px;
}

#contactSection #contactContent #contactForm #submit {
  cursor: pointer;
  background-color: #0466c8;
  color: #001233;
  border: none;
}

#contactSection #contactContent #contactForm #submit:hover {
  -webkit-box-shadow: 0px 0px 30px #0466c8;
          box-shadow: 0px 0px 30px #0466c8;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

@media screen and (max-width: 1350px) {
  #aboutSection #aboutContent .aboutMe {
    width: 1000px;
  }
  #aboutSection #aboutContent .aboutMe .text {
    width: 50%;
    padding-left: 15px;
  }
  #aboutSection #aboutContent .aboutMe .ilustrationContainer {
    width: 50%;
  }
  #aboutSection #aboutContent .aboutMe .ilustrationContainer .ilustration {
    padding-left: 20px;
    width: 500px;
    height: 450px;
  }
  #projectsSection #projectsContent .sectionTitle {
    margin-bottom: 20px;
  }
  #projectsSection #projectsContent #cards {
    -ms-grid-columns: (280px)[2];
        grid-template-columns: repeat(2, 280px);
    -ms-grid-rows: (200px)[2];
        grid-template-rows: repeat(2, 200px);
    gap: 50px 100px;
  }
}

@media screen and (max-width: 768px) {
  #buttons {
    display: none;
  }
  #intro .fp-tableCell:nth-child(1) {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  #intro #dummy #pictureDummy {
    opacity: 1;
  }
  #intro #presentation {
    position: unset;
  }
  #intro #presentation #description {
    position: unset;
    left: unset;
  }
  #intro #presentation #description h1 {
    font-size: 80px;
  }
  #intro #presentation #description h2 {
    font-size: 55px;
  }
  #intro #presentation #picture {
    display: none;
  }
  #intro #navBar {
    display: none;
  }
  #aboutSection #aboutContent {
    height: unset;
  }
  #aboutSection #aboutContent .aboutMe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: unset;
    height: unset;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #aboutSection #aboutContent .aboutMe .text {
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #aboutSection #aboutContent .aboutMe .ilustrationContainer .ilustration {
    height: 400px;
  }
  #skillsSection #skillsContent .skills {
    -ms-grid-columns: 200px 150px 150px;
        grid-template-columns: 200px 150px 150px;
    -ms-grid-rows: 150px 150px;
        grid-template-rows: 150px 150px;
  }
  #skillsSection #skillsContent .interestedIn h3 {
    margin: 5px 0;
  }
  #projectsSection #projectsContent #cards {
    gap: 50px 50px;
  }
  #contactSection #contactContent {
    width: 90%;
    margin: 80px auto 30px;
  }
}

@media screen and (max-width: 480px) {
  .titleBr {
    display: unset;
  }
  #intro #presentation {
    padding-bottom: 80px;
  }
  #intro #presentation #description h1 {
    text-align: center;
    font-size: 70px;
  }
  #intro #presentation #description h2 {
    font-size: 45px;
  }
  #skillsSection #skillsContent .sectionTitle {
    padding-top: 80px;
    font-size: 60px;
  }
  #skillsSection #skillsContent .skills {
    -ms-grid-columns: 125px 125px;
        grid-template-columns: 125px 125px;
    -ms-grid-rows: 125px 125px 125px;
        grid-template-rows: 125px 125px 125px;
  }
  #skillsSection #skillsContent .interestedIn h3 {
    margin-top: 30px;
  }
  #skillsSection #skillsContent .interestedIn .interests {
    -ms-grid-columns: (125px)[2];
        grid-template-columns: repeat(2, 125px);
    -ms-grid-rows: 125px 125px;
        grid-template-rows: 125px 125px;
  }
  #projectsSection #projectsContent {
    height: unset;
  }
  #projectsSection #projectsContent .sectionTitle {
    padding-top: 80px;
  }
  #projectsSection #projectsContent #cards {
    -ms-grid-columns: 280px;
        grid-template-columns: 280px;
    -ms-grid-rows: (200px)[4];
        grid-template-rows: repeat(4, 200px);
  }
}
/*# sourceMappingURL=styles.css.map */